body{
	background-color: #e4e3e8;
}

#divForm{
    border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color:   #ff5733;
	box-shadow: 2px 2px 5px #999;
	background-color: white;
	margin: 0 auto;
	width: 50%;
}

h2{
	background-color:#e10721;
	height: 35px;
	border-radius: 20px;
	margin-top:0;
	color: white;
	text-align: center;
}

label {
	margin-left: 10px;
  	width: 30%;
  	float: left;
  	padding: 3px;
}

.datosRegistro{
	padding: 10px;
}

form{
    background-image:url("../Imagenes/OP.jpg") ;
    padding: 5px;
    opacity:0.8;
    margin: 10px auto;
} 

input{
	padding: 5px;
}

.datos{
	padding: 3px;
}

#submit{
	text-align: center;
}